:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;

  --card-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);

  --bg-color: #fff;
  --main-color: #000;
  --accent-color: #000;
  --button-bg: #fff;
  --button-text-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --label-stroke-color: #fff;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --bg-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}

@media (width <= 375px) {
  :root {
    --card-width: 100%;
  }
}
